@charset "windows-1251";

@media screen and (orientation: portrait) {
    header{
        width:100%;
    }
    nav{
        width: 100%;
        flex-direction: column;
    }
    .container, .container1, .container2 {
        width: 90%;
    }
}

body {
	background-color: #4b5591 !important;
	}

.logo {
    vertical-align: middle !important;;
    border-style: none;
}

header {
    background-image: url(Header.jpg);
    background-size: 100%;
    height: 120px;
    box-shadow: 0px 0px 10px grey;
}

nav{
    background-color: #ffd49d;
    box-shadow: 0px 0px 10px grey;
    width: 100%;
}

.style {
	color: maroon;
    font-size: 25px;
    text-decoration-line: none;
}

.style1 {
    color: black;
}

.spisok{
    background-color:#ffd49d !important;
    box-shadow: 0px 0px 10px grey;
    color: maroon !important;
}

.nechet {
    background-color: orange;
}

.chet {
    background-color: rgb(60, 166, 253);
}

footer {
    color: #041364;
	font-size: 25px;
    background-color: #fd7d03;
    height: 50px;
    box-shadow: 0px 0px 10px grey;
    width: 100%;
    }
    